<!DOCTYPE html>
<html lang="en-IN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Movie Explorer is a simple website build using Prisma as a ORM for PostgreSQL with Apollo GraphQL library to implement the GraphQL API. This website uses JWT for providing Token based Authentication system." />
        <title>MovieXplorer</title>
    </head>
    <body>